@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
    text-decoration: none;
}
.center{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}
.wrapper{
    width: 450px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 100px 0 #00000010, 0 10px 15px 0 #00000032;
}

/* Sing up page Css Start */

.form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px  solid #e5e5e5;
    padding: 0 0 20px 0;
}
.form form{
    margin: 1.2rem 0;
}
.form form .error-text{
    color: #bb0101;
    background-color: #f7afaf;
    padding: 15px 30px;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 10px 0;
    border: 1px solid #f6a0a0;
    
}

.form form .name-details{
    display: flex;
}

.form .name-details .filled:nth-child(1){
    margin-right: 10px;
}

.form .name-details .filled:nth-child(2){
    margin-left: 10px;
}
.form form .filled{
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 10px;
}

.form form .filled label{
    margin-bottom: 2px;
}
.form form .filled input{
    outline: none;
}
.form form .input input{
height: 40px;
width: 100%;
font-size: 16px ;
padding: 0 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form form .image input{
    font-size: 17px ;
}

.form form .button input{
    margin-top: 13px;
    height: 45px ;
    font-size: 17px ;
    border: none;
    font-weight: 400;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}
.form form .filled i{
    color: #ccc;
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;

}
.form .linking{
    margin: 10px 0; 
    font-size: 17px;
    text-align: center;
}
.form .linking a{
    color: #333;
}
.form .linking a:hover{
    text-decoration: underline;
}

/* Sing up page Css End */

/* --------------------------------------------- */

/* User Section Start  */

.users{
    padding: 25px 30px;
}
.users header,
.users-list a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px ;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users,.users-list ) .content,
 a .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 50px;
    width: 50px;
 }
 :is(.users,.users-list ) .details{
    margin-left: 15px;
    color: #000;
 }
 :is(.users,.users-list ) .details span{
    font-style: 18px;
    font-weight: 500;
 }
 .users header .logout{
    padding: 7px 15px;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
 }
.users .search{
    margin: 20px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.users .search .text{
    font-size: 18px;
} 
.users .search input{
    height: 42px;
    width: calc(100% - 50px);
    position: absolute;
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;

} 
.users .search button{
    height: 42px;
    width: 47px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar{
    width: 0;
}
.users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px ;
    border-bottom-color:#f1f1f1 ;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    height: 40px ;
    width: 40px;
}
.users-list a .content p{
    color: #67676a;
}
.users-list a .current-status{
    font-size: 12px;
    color: #4ace4a;
}
/* Offline & Online work in backend  */
.users-list a .current-status.offline{
    font-size: 12px;
    color: #ccc;
}
/* User Section End */
